body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 255), rgb(70, 188, 243), rgb(10, 99, 10));
    font-family: 'Amatic SC', cursive;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    width: 80%;
    height: 98vh;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: flex-start;
    line-height: 1%;
}

#container > * {
    padding: 0 0.25em;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
    transition: transform  1s cubic-bezier(.89,.28,.49,1.51);
    
}

.falling {
    transform: translateY(-300px);
}

.fell {
    transform: translateY(0)
}